<div class="row">
  <h3>Post details !</h3>
  <div class="col-md-4">
    <div class="list-group" *ngIf="viewModel$ | async as vm">
      <a
        [class]="{ active: item.id === vm.selectedPost?.id }"
        *ngFor="let item of vm.posts"
        (click)="onSelectPost(item, $event)"
        href="#"
        class="list-group-item list-group-item-action"
        aria-current="true"
      >
        {{ item.title }}
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <!-- show post detail -->
    <app-post></app-post>
  </div>
</div>
